h1 {
    text-align: center;
}
table {
    width:35%;
    text-align: center;
    font-size: 30pt;
    margin:auto;
}

.npm,.npm-depan,.nama,.nama-mhs {
    color:red;
    border: 1px solid black;
    background:black;
}
.npm-tengah {
    background: blue;
    color:yellow;
    border: 1px solid black;
}
.npm-belakang {
    color:green;
    background:black;
    border: 1px solid black;
}
